<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Wizard-v6</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="/static/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

	<div class="page-content">
		<div class="wizard-heading">Formulario</div>
		{% block body %}    
        {% endblock %}
	</div>
	<script src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/jquery-ui.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
</body>
</html>